.logo_icon {
    border: 1px solid lightgray;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.show_all_dender {
    height: 60vh;
    overflow-y: scroll;
}

.ratings .ant-card {
    margin-top: 1rem;
}

.bill-containers {
    width: 300px;
}

.return_replace_mark {
    background-color: var(--primary_color);
    color: white;
    border-color: var(--primary_color);
}

.add_to_carts button {
    background-color: var(--primary_color);
    color: white;
    opacity: 1 !important;
}

.product_order_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove_items_select {
    opacity: .6;
}

.pagination {
    display: flex;
    justify-content: end;
}

.order_title {
    display: flex;
    align-items: center;
}

.remove_item_btn {
    text-align: center;
}

.ant-tabs-tab-active span {
    color: black !important;
}

.ant-segmented {
    height: fit-content !important;
}

.reassing_vendor {
    padding: 0 2rem !important;
}

.remove_item_btn button {
    padding: 0 3rem !important;
    background-color: var(--primary_color);
    color: white;
    border-color: var(--primary_color);
}

.order_img {
    margin-right: .5rem;
}

.order_status p {
    color: gray;
    font-size: 1.2rem;
}

/* .order_card_title{
    display: flex;
    justify-content: space-between;
} */
.order_card_title button {
    margin-left: 1rem;
    background-color: #eee;
    border-style: none;
}

.item_tilte_img img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 1px solid gray;
    padding: .2rem;

}

.show_all_order .ant-card .ant-card-body {
    padding: 12px !important;
}

.order_data_item .ant-card-body {
    padding: 1rem !important;
}

.order_bil_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_bil_title p {
    font-size: 1.2rem;
    font-weight: 500;

}

.show_order_status {
    /* display: inline-flex; */
    width: 100%;
    margin-top: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .ant-card {
        display: inline-block;
        width: 35%;
        margin-right: 1rem;
        margin-bottom: 1rem;

    }
}

.amount_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_code span:first-child {
    background-color: var(--primary_color);
    border-radius: 4px;
    padding: 0 .5rem;
    color: white;
    font-size: 1.2rem;
}

.order_data_item .ant-card {
    width: 100% !important;
}

.collect_pay {
    background-color: orangered;
    color: white;
    border-color: orangered;
}

.collect_amt_btn {
    text-align: center;
}

.collect_amt_btn button {
    padding: 0 3rem !important;
    background-color: var(--primary_color);
    color: white;
    border-color: var(--primary_color);
}

.code_payment {
    text-align: start !important;
}

.orderActios {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show_order_status .ant-card-body {
    padding: 16px;
}

.show_all_order {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.item_titles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_tilte_img {
    display: flex;
}

.item_tilte_img img {
    margin-right: .5rem;
}

.item_order_id p:first-child {
    font-weight: 600;

}

.item_order_id p:last-child {
    font-size: .8rem;
    color: gray;

}

.order_action_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_action_icon button {
    background-color: #5ac26862;
    border-style: none;
    color: var(--primary_color);
}

#summary_btn {
    background-color: var(--primary_color);
    color: white;
    border-style: none;

}

.order_icons {
    font-size: 1.5rem;
    margin-top: -.3rem;
}

.order_view_detais {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vendor_Reassing {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view_details {
    background-color: var(--primary_color);
    color: white;
    border-style: none;
}

.order_status_titiles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* .order_status_action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}.order_status_action

 */
.order_status button {
    border-color: var(--primary_color);
    background-color: transparent;
    color: var(--primary_color);
}

.order_status_action button {
    background-color: var(--primary_color);
    color: white !important;
    border-style: none;
}

.submitBtn {
    background-color: var(--primary_color);
    color: white;
    border-color: var(--primary_color);
}

.summary {
    display: flex;
    justify-content: space-between;
}

.order_search {
    margin-top: 1rem;
}

.product_img {
    width: 4rem !important;
    aspect-ratio: 2/2 !important;
    background-color: #eee;
    padding: .5rem;
    border-radius: 10px;
    object-fit: contain;
}

.row-active {
    background-color: #d4f0d3;
}

.order_item_data {
    margin-top: 1rem;
}

.order_item_data .ant-descriptions .ant-descriptions-item-container .ant-descriptions-item-label {
    color: black !important;
}

.input_Datepick {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assign_vendor {
    text-align: center;
}

#AddButton {
    padding: 0 2.5rem;
}

.assign_vendor button {
    background-color: var(--primary_color);
    color: white;
    border-style: none;
    width: 100%;
}

.order_item_data span {
    color: gray;
}

.down_invoice button {
    background-color: var(--primary_color);
    color: white;
    border-style: none;
}

.Order_details_content {
    margin-top: 1rem;
}

.order_details {
    text-align: start;
    border: 1px solid rgb(238, 236, 236);
    border-radius: 8px;
}

.show_qr_code .ant-card {
    margin-bottom: 1rem;
}

.show_qr_code .ant-card-body {
    display: flex;
    justify-content: center;
}

.order_del_img img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px solid #eee;
    padding: .5rem;
    margin-right: .5rem;
}

.order_details_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 0;
}

.order_del_img {
    display: flex;
}

.order_detials_id p:first-child {
    font-weight: 600;
    font-size: 1.2rem;
}

.order_title_actions {
    display: flex;
    justify-content: end;
}

.order_title_actions button {
    background-color: var(--primary_color);
    color: white;
    margin-right: .5rem;
}

.order_details__p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}

.pro_item_list {
    display: flex;
    align-items: center;
}

.order_sumary_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}

.order_grand_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_grand_total p {
    font-size: 1.2rem;
    font-weight: 600;
}

.pro_item {
    margin-left: .5rem;
}

.vendor_list button {
    background-color: var(--primary_color);
    color: white;
    border-style: none;

}

.assign_btn button {
    background-color: var(--primary_color);
    color: white;
    border-style: none;
}

.card {
    /* width: 400px; */
    width: 100%;
    border: none;
    border-radius: 14px !important
}

.order_user_info {
    margin-top: 1rem;
}

.area1 {
    background-color: #5ac268af;
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    padding-top: 83px !important
}

.image {
    top: -62px;
    position: relative
}

.image img {
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.order_setops {
    position: sticky;
    top: 0;
}


.list-icons li i {
    font-size: 17px;
    color: #fff
}

.product_titles {
    font-weight: 500;
}

@media (max-width:700px) {
    .list-icons {
        display: block
    }
}

.facebook {
    background: #3b5998
}

.instagram {
    background: #3f729b
}

.youtube {
    background: #ff0000
}

.whatsapp {
    background: #4dc247
}

.pinterest {
    background: #cb2027
}

.order_list_items {
    min-height: 40vh;
    height: 60vh;
    overflow-y: auto;
}

.status_filter {
    display: flex;
    justify-content: end;
}

.goto_admin_request {
    display: flex;
    justify-content: center;
}

.goto_admin_request button {
    padding: 0 3rem !important;
    background-color: var(--primary_color);
    color: white;
    border-style: none;
}

.order_order_img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.partial_return .ant-card {
    background-color: #eee;
}

.kot_header_title {
    text-align: center;

}

.verify_otp_setion {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verify_otp_btn {
    margin-top: 2rem;
}

.verify_otp_btn button {
    padding: 0 2rem;
}

.ot_field {
    border-color: var(--primary_color);
}

.vendor_list_show {
    height: 60vh;
    overflow-y: auto;
}

.show_payment_type {
    padding: .5rem 0;
}

/* // KOT css */

.bill-container {
    padding: 16px;

}

.header_title img {
    width: 4rem !important;
}

.header_title {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}

.bills {
    border: 1px solid black;
    /* padding: 20px; */
}

.header_content {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}

.seller_details {
    width: 65%;
    border-right: 1px solid black;
}

.qr_detials {
    width: 35%;
}

.header img {
    width: 20%;
}

.show_qr_info {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.kot_actin_btn {
    text-align: end;
    margin-top: 1rem;

}

.kot_actin_btn button {
    padding: 0 2.5rem !important;
}

.kot_actin_btn button:last-child {
    background-color: var(--primary_color);
    color: white;
    border-color: var(--primary_color);
    margin-left: .5rem;
}

.header,
.footer {
    text-align: center;
    position: relative;
}

.calculat_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.item-table {
    width: 100%;
    border-collapse: collapse;
}

.item-table th,
.item-table td {
    /* border: 1px solid #000; */
    border-top: none;
    border-left: none;
    /* border-right: 1px dashed #000; */
    padding: 4px;
    text-align: start;
    text-transform: lowercase;
}

.item-table th::first-letter,
.item-table td::first-letter {
    text-transform: capitalize;
}

.dashed {
    border-bottom: 1px black dashed;
    margin: .3rem 0;
}

.payment_data {
    padding: .5rem;
    border-bottom: 1px solid black;
}

.summary {
    border-bottom: 1px dashed black;
    margin-bottom: 1rem;
}

.amount_in_word {
    padding: .5rem;
    border-bottom: 1px solid black;
}

.summary p {
    margin: 5px 0;
}

.saved_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_amt {
    font-weight: 500;
}

.top_header {
    position: absolute;
    top: 10%;
    right: 0;
}

.top_header1 {
    position: absolute;
    top: 10%;
    left: 0;
}

.head_branch {
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
}

.branch_details {
    padding: .5rem;
    border-right: 1px solid black;
    width: 70%;
}

.auth_sign {
    padding: .5rem;
    text-align: center;
    width: 30%;
}

.footers {
    padding: .5rem;
}

.auth_sign img {
    width: 80%;
    padding: 1rem;
}

#order_head_card .ant-card-body {
    height: 100vh;
    overflow-y: scroll;
}

.order_data_item .ant-card-body {
    height: unset !important;
    overflow-y: unset !important;
}

.gst_number {
    border-bottom: 1px solid black;
    text-align: start;
    padding: .5rem;
}

.seller_info {
    border-bottom: 1px solid black;
}

.seller_info {
    padding: .5rem;
    text-align: start;
    text-transform: lowercase;
}

.seller_info p::first-letter {
    text-transform: uppercase;
}

.seller_info strong,
.delivery_location {
    text-align: start;
}

.store_number {
    border-bottom: 1px solid black;
    text-align: start;
    padding: .5rem;

}

.tables {
    width: 100%;
}

.table_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qty {
    display: flex;
    justify-content: center;
}


.delivery_location {
    padding: .5rem;
}

.verify_continue {
    text-align: center;
}

.verify_continue button {
    background-color: var(--primary_color);
    color: white;
    border-color: var(--primary_color);
    padding: 0 3rem !important;
}

.product_cat {
    font-size: .8rem;
    color: gray;
}

.ot_field {
    margin-top: .5rem;
    width: 100%;
    text-align: center;
}

.ot_field .ant-input {
    width: 100%;
    border-color: var(--primary_color);
    text-align: center;
}

.otp_field {
    margin-top: .5rem;
    width: 25%;
    align-self: center;
}

.new_otp_item {
    margin-top: 1rem;
    width: 70%;
    text-align: center;
}

.custom-steps .ant-steps-item-process .ant-steps-item-title {
    color: var(--primary_color) !important;
}

.custom-steps .ant-steps-item-process .ant-steps-item-description {
    color: var(--primary_color) !important;
}

.verify_otp_setion span {
    font-size: .8rem;
    /* color: gray; */

}

.otp_field .ant-input {
    width: 100%;
    border-color: var(--primary_color);
    text-align: center;
}

.Total_prices {
    font-weight: 500;
}

/* kot-print.css */

@media print {
    body * {
        visibility: hidden;
    }

    .bill-container,
    .bill-container * {
        visibility: visible;
    }

    .bill-container {
        position: absolute;
        /* left: 0; */
        left: 6mm;
        top: 0;
        width: 62mm;
        /* or use 80mm depending on your printer */
        padding: 6px;
        font-size: 10px;
        background: white;
    }

    .kot_actin_btn,
    .ant-btn,
    .ant-divider,
    .ant-modal,
    .ant-modal-content,
    .ant-modal-close {
        display: none !important;
    }

    .item-table th,
    .item-table td {
        font-size: 11px;
        padding: 2px;
    }

    .summary-kot p,
    .kot-details p {
        margin: 2px 0;
        font-size: 10px;
    }

    .footer {
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }

    .show_qr_info {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .product_titles {
        font-size: .8rem;
    }

    .product_cat {
        font-size: .6rem;
    }
}

.location_box {
    background: #ffffff;
    height: 100%;
}

.location_header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    border-bottom: 1px solid rgb(238, 236, 236);
    padding: 16px;
}

.location_header p {
   font-size: 16px;
}

.location_column {
    padding: 16px;
}

.delivery_icons {
    font-size: 20px;
    color: #1677ff;
}